.parent {
    display:flex;
    margin-top:20px;
    padding: 10px;
    flex-wrap: wrap;
}

.kid {
    flex:auto;
    width: 240px;
    margin:10px;
}

.kid img {
    width:100%;
    height: 300px;
}

